<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="row">
            <div class="col-sm-8">

                <div class="jumbotron">
                    <h1>This is Notes Page <%= views  %></h1>
                    <p>Notes is loading ...</p>
                    <p>
                        <% data.forEach(function(re) { %>
                            <li><%= re.title %> - <%= re.content %> - <a href="notes/delete/<%= re._id %>">Delete</a> - <a href="notes/edit/<%= re._id %>">edit</a></li>
                        <% }); %>
                    </p>
                    <a href="/notes/add">Add new Notes</a>
                </div>

            </div>
            <div class="col-sm-4">

                <div class="well">
                    <h3>Look I'm A Sidebar!</h3>
                </div>

            </div>
        </div>
    </main>

    <footer>
        <% include ../../partials/footer %>
    </footer>

</body>
</html>